.project-panel[data-v-14b73ca8]{background:#ffffff;box-shadow:0 0 .3125rem #0000002e;border-radius:.625rem;padding:2rem;margin-bottom:.9375rem}.row[data-v-14b73ca8]{display:grid;row-gap:1.875rem}.row.row-2[data-v-14b73ca8]{grid-template-columns:1fr 1fr}.row.row-3[data-v-14b73ca8]{grid-template-columns:4fr 4fr 2fr}.project-panel[data-v-14b73ca8] .row>*:not(:last-child){padding-right:1.875rem;margin-right:1.875rem;border-right:1px solid var(--gray-color-1)}
