.panel[data-v-28a064da]{text-align:center;color:var(--gray-color-2)}.title[data-v-28a064da]{font-size:1.75rem;line-height:2.25rem;margin-bottom:1rem}.subtitle[data-v-28a064da]{font-size:1.125rem;line-height:150%;max-width:28.125rem;margin-left:auto;margin-right:auto;margin-bottom:2.125rem}
