.badge[data-v-f954209e]{--border-color: var(--accent-color-1);--text-color: var(--accent-color-1);padding:.625rem 2rem;border:2px solid var(--border-color);border-radius:6.25rem;font-weight:600;font-size:1rem;line-height:normal;text-align:center;text-transform:uppercase;color:var(--text-color)}
