.bold[data-v-02f7643a]{line-height:1.4375rem;font-weight:700}.info-list-title[data-v-02f7643a]{font-size:inherit;font-weight:600;line-height:normal}.info-list-item[data-v-02f7643a]{display:grid;grid-template-columns:5fr 6fr;align-items:flex-start;line-height:1.6875rem}.info-list-value[data-v-02f7643a]{padding-left:1em}.info-list-item.wide[data-v-02f7643a]{grid-template-columns:minmax(auto,14.375rem) auto}.info-list[data-v-43c65c58]{list-style:none;display:flex;flex-direction:column;font-size:1.13rem}.gap-m[data-v-43c65c58]{row-gap:1.0625rem}.gap-l[data-v-43c65c58]{row-gap:2.8125rem}
