.panel[data-v-490e7eb4]{min-height:100%;display:flex}.label[data-v-490e7eb4]{color:var(--gray-color-2)}.subtitle[data-v-490e7eb4]{font-weight:800;font-size:1.125rem;line-height:1.6875rem;margin-bottom:1.0625rem}.title[data-v-490e7eb4]{line-height:2.375rem;margin-bottom:1.5rem;padding-bottom:1.5rem;border-bottom:1px solid var(--gray-color-1)}.edit-btn[data-v-490e7eb4]{margin-top:auto;align-self:flex-end}.right-col[data-v-490e7eb4]{display:flex;flex-direction:column}.margin-b[data-v-490e7eb4]{margin-bottom:3.125rem}
