.tag[data-v-54383c7b]{display:inline-block;padding:.4375rem 1.25rem;background:#f1f4fe;border-radius:1.875rem;font-size:.875rem;line-height:1.125rem;color:var(--accent-color-1)}.tag.disabled[data-v-54383c7b]{background:var(--gray-color-1);color:var(--gray-color-2)}.show-btn-wrapper[data-v-7b1b38f3]{display:flex;align-items:center}.list[data-v-7b1b38f3]{list-style:none;padding-left:0;display:flex;flex-wrap:wrap;gap:.5rem}
